@charset "UTF-8";

<style>
        body {
            background-color: lightgoldenrodyellow;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }

        p {
            text-align: justify;
        }

        h1 {
            text-align: center;
            color: maroon;
            background-color: goldenrod
            ;
        }

        h2 {
            color: darkred;
        }
    </style>